body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e4c4;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img.logo {
    height: 65px;
    transform-origin: bottom right;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #f0e4c4;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.auth-buttons button {
    background-color: transparent;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons .signup {
    background-color: #000;
    color: #fff;
}

.auth-buttons button:hover {
    opacity: 0.8;
}

section {
    padding: 20px 0 1em 0;
    width: 100%;
    background-color: #E3C48A;
}

.content-slider {
    width: 100%;
    max-width: none;
    margin: -150px 0 0 0;
    position: relative;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px); /* Adjust height dynamically based on viewport */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover ensures that the image covers the slide area, might crop some parts */
    display: block;
}

.overlay-text {
    position: absolute;
    top: 82%;
    right: 90%;
    transform: translate(35%, -31%);
    max-width: 65%;
    color: white;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.overlay-text h3.common-name {
    margin: 0;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.overlay-text h4.species-name {
    margin: 0;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .overlay-text h3.common-name {
        font-size: 3vw;
    }
    .overlay-text h4.species-name {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    .overlay-text h3.common-name {
        font-size: 4vw;
    }
    .overlay-text h4.species-name {
        font-size: 3.5vw;
    }
}
