body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e4c4; /* Keep this color or change it if needed for other parts of the page */
}

header {
    background-color: #ffffff; /* White background for the header */
    width: 100%; /* Full width */
    height: 100px; /* Doubled the height of the header */
    margin-bottom: 20px; /* Space below the header */
    position: relative; /* Positioning context for logo */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center the content horizontally */
    padding-left: 100px; /* Offset for the logo */
}

header img.logo {
    position: absolute; /* Absolute position within the header */
    top: 10px; /* Position from the top */
    left: 10px; /* Position from the left */
    width: 80px; /* Logo width */
    height: 80px; /* Logo height */
}

header h1 {
    margin: 0; /* Remove margin to maintain alignment */
    text-align: center; /* Center the text */
}

section {
    padding: 1em;
    width: 100%; /* Full width */
    background-color: #E3C48A; /* New background color for the container */
}

.content-slider {
    width: 100%; /* Full width of the container */
    max-width: none; /* Removes max-width restriction */
    margin: 0; /* Adjusts margin to zero */
    position: relative;
    overflow: hidden;
}

.slide {
    display: flex; /* Changed to flex to align items inside */
    justify-content: flex-end; /* Aligns the child elements to the right */
    position: relative;
    width: 100%;
    height: 200px; /* Set a fixed height for the slide */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.slide img {
    width: 100%; /* Maintain full width */
    height: 100%; /* Adjust height to fill the slide */
    object-fit: cover; /* Cover ensures that the image covers the slide area, might crop some parts */
    /* Use 'object-fit: contain;' if you want to ensure the entire image is visible, which may leave some empty space in the slide */
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.overlay-text h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .overlay-text h3 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .overlay-text h3 {
        font-size: 20px;
    }
}
